
<%= bootstrap_form_with(model: resource, url: registration_path(resource), local: true) do |f| %>
  <h2>Create an account</h2>
  <hr>
  <%= f.text_field :first_name, autofocus: true, placeholder: 'John' %>
  <%= f.text_field :last_name, placeholder: 'Doe' %>
  <%= f.date_field :date_of_birth, placeholder: "DD/MM/YYYY" %>
  <%= f.email_field :email, placeholder: "you@example.com" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  <%= f.submit "Sign Up", class:"btn btn-success" %>
<% end %>

